<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Service -->
    <context:component-scan base-package="com.idehgostar"/>

    <!--Enable @Transactional support -->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- <bean id="configs" class="com.idehgostar.makhsan.domain.Configs">
         <property name="systemConfigCache" ref="systemConfigCache"/>
     </bean>-->


    <aop:config>
        <aop:advisor id="managerTx" advice-ref="txAdvice"
                     pointcut="execution(* com.idehgostar.jpam.manager.GenericManager+.*(..))" order="1"/>
        <aop:advisor id="serviceTx" advice-ref="txAdvice"
                     pointcut="execution(* ir.rastech.analytics.Base.BaseWS+.*(..)) &amp;&amp; !execution(* ir.rastech.analytics.Base.BaseWS+.get*(..))"
                     order="2"/>
    </aop:config>

    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
            <!--<tx:method name="get*" read-only="true"/>-->
            <!--<tx:method name="save*" rollback-for="UserExistsException"/>-->
        </tx:attributes>
    </tx:advice>

    <bean id="analyticsManager" class="ir.rastech.analytics.AnalyticsManagerImpl">
        <constructor-arg ref="analyticDao"/>
    </bean>


    <bean id="applicationServiceManager" class="com.idehgostar.makhsan.core.services.ApplicationServiceManagerImpl">
        <constructor-arg ref="applicationServiceDao"/>
    </bean>
    <bean id="signOutInfoManager" class="com.idehgostar.makhsan.core.signout.SignOutInfoManagerImpl">
        <constructor-arg ref="signOutInfoDao"/>
    </bean>


    <bean id="recordsCollection" class="ir.rastech.analytics.analyticsFilter.RecordsCollectionProcessor">
        <constructor-arg name="Tokendata"
                         value="Li1ezbkBCwvn21xPvKgQQaQe9BquIgaeOBHEYjX++TftmZHWGKQjMGzrwBJ9LdOJfxOzJOzruV8rVS1/Rr8vdl7Nd5OmmLTmrBTvs9O+f6LQJQHjGpXAVVCS6TRlRd6hnVmPmIMQAVa3mCLSz5FKlG3F0mYa5+jHcohOKPYrn8UwlkjT2+c6d/zogkvQ1E2d9y2ggcYrcXjfwX3FSXWGcvc4cmdrl8lnwsNnxm0YUm1NQkmxNXGWAln1Z5lonhBqAiAk+JqHlgW91L1P83UpiUSFen863BhiXfmOAsNrRsZb74Mi9zJRXkc3LLh6Zp3ISMz9ff9Nq6y0xlcpeRnGgKoqy9mU8itAxs+ZdX7Yzp+4ozmXjPMhAUO/v3la1gpwatNCYbeB+luWaUYZP/svmrDi+UX6XkOZxQWVSRt2YMu93XWsKsNarv0l21SGS/JOQTf/zn669JSSxcs15OnqJQ8ANqoGu2D2ORawhVsFm2jqaRKhRY/RkU7Oe/bqfBs8beq8jzLrYNVav2Ao92Dvd7DGw5D9AWsH/sErIk9xR6tY+dExzSjMlFBC1d2+ZF9sRinj81AzYFWNS5lvEvi4nYDi3y8+WycGNynQWz0BUOxI3pfNbMxlufz87NdWHSlE"/>
        <constructor-arg name="Url" value="http://localhost:5718/rest/"/>
    </bean>
    <!--<bean id="kaveSmsService" class="com.idehgostar.makhsan.services.KaveSmsService">-->
    <!--<constructor-arg value="30006703323323"/>-->
    <!--<property name="apiKey" value="4E52504F645052794D61672B556477674237617663513D3D"/>-->
    <!--</bean>-->

    <!--<bean id="querySourcesUtil" class="com.idehgostar.jpam.util.QuerySourcesUtil">-->
    <!--</bean>-->

    <!-- =================================================================== -->
    <!-- Managers: For accessing DAOs                                        -->
    <!-- =================================================================== -->

    <!--<bean id="actionLogManager" class="core.service.GenericManagerImpl">-->
    <!--<constructor-arg ref="actionLogDao"/>-->
    <!--</bean>-->


</beans>