<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--Means JavaEE7-->

    <!-- Context Configuration locations for Spring XML files -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/applicationContext-analytics-resource.xml
            classpath:/applicationContext-analytics-persistence.xml
            classpath:/applicationContext-analytics-security.xml
            classpath:/applicationContext-analytics-service.xml
            classpath:/applicationContext-analytics.xml
            classpath*:/applicationContext-confix.xml
        </param-value>
    </context-param>

    <servlet>
        <display-name>HelloWorldServlet</display-name>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>ir.rastech.analytics.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>NotifySignOut</display-name>
        <servlet-name>NotifySignOut</servlet-name>
        <servlet-class>com.idehgostar.makhsan.core.signout.SignOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NotifySignOut</servlet-name>
        <url-pattern>/notifySignOut</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--TODO Arsalan-->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>lazyLoadingFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
        <init-param>
            <param-name>flushMode</param-name>
            <param-value>AUTO</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>lazyLoadingFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>lazyLoadingFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>authenticationInfoExtractor</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticationInfoExtractor</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>analyticsRecordFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>analyticsRecordFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<filter-mapping>-->
    <!--<filter-name>lazyLoadingFilter</filter-name>-->
    <!--<servlet-name>MultiRestServlet</servlet-name>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
    <!--<filter-name>transactionFilter</filter-name>-->
    <!--<filter-class>core.form.filter.OneLocalTransactionPerRequestFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>transactionFilter</filter-name>-->
    <!--<url-pattern>/pages/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<filter-mapping>-->
    <!--<filter-name>transactionFilter</filter-name>-->
    <!--<url-pattern>/rest/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<filter-mapping>-->
    <!--<filter-name>transactionFilter</filter-name>-->
    <!--<servlet-name>MultiRestServlet</servlet-name>-->
    <!--</filter-mapping>-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <!--<servlet>-->
    <!--<servlet-name>export</servlet-name>-->
    <!--<servlet-class>mo.meeting.export.ExportOutlineServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>export</servlet-name>-->
    <!--<url-pattern>/export</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>SpringApplication</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>ir.rastech.analytics</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>
                org.glassfish.jersey.filter.LoggingFilter;org.glassfish.jersey.media.multipart.MultiPartFeature
            </param-value>
        </init-param>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>ir.rastech.analytics.Base.JerseyConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>SpringApplication</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
    <!--<servlet-name>MultiRestServlet</servlet-name>-->
    <!--<servlet-class>mo.base.multirest.MultiRestServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>MultiRestServlet</servlet-name>-->
    <!--<url-pattern>/multirest/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--<error-page>-->
    <!--<error-code>500</error-code>-->
    <!--<location>/error.html</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>400</error-code>-->
    <!--<location>/error.html</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>403</error-code>-->
    <!--<location>/403.html</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--<location>/404.html</location>-->
    <!--</error-page>-->
</web-app>